#top {
    /* border: 1px solid black; */
    background-color: whitesmoke;
    display: flex;
    height: auto;
    margin-top: 0%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    align-items: flex-end;
}

#logo {
    min-width: 60%;
    flex-shrink: 1;
}

#name {
    max-width: 10%;
    flex-shrink: 50;
}

.social {
    max-width: 30%;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    /* background-color: aqua; */
}

#logoimage {
    width: 100%
}



#hrule {
    border-top: 10px solid black;
}

#menu {
    /* border: 1px solid black; */
    /* background-color: rgb(255, 127, 197); */
    display: flex;
    height: auto;
    /* margin-top: 0.1%; */
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 10%;
}

#homelogo {

    text-decoration: solid;
    font-size: 1.3vw;
    font-weight: 600;
    text-align: center;
    align-items: center;
    padding: 0.6%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 0.9vw;
    /* margin-bottom: 0.6%; */
    margin-right: 0.9vw;
    width: auto;
    height: auto;
    background-color: lightgrey;
    box-shadow: 6px 6px 6px grey;
}

.menu_items {
    text-decoration: solid;
    font-size: 1.3vw;
    font-weight: 600;
    text-align: center;
    align-items: center;
    padding: 0.9%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 0.6%;
    margin-bottom: 0.6%;
    margin-right: 0.6%;
    width: auto;
    height: auto;
    background-color: lightgrey;
    box-shadow: 6px 6px 6px grey;
    /* object-position: top;  */
}

#homeimage {
    width: 2vw;

}

#body_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    width: 100%;
    margin-top: 0.6%;
    margin-bottom: 1%;
    /* border: 1px solid black;
    background-color: aquamarine; */
}



#mainbox {

    /* background-color: lightblue; */
    /* border: 3px solid black; */
    box-shadow: 10px 10px 10px grey;
    display: flex;
    height: auto;
    margin-right: 0%;
    margin-bottom: 0%;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
    width: 95%;
    flex-shrink: 10;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/login_back.jpg);
    background-size: 100% 100%;
    object-fit: fill;
    /* background-position: center; */
    border-radius: 0.6%;
}

#form {
    border: 1px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    min-width: 55%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

.form_head {
    color: white;
    font-size: 1.3vw;
    margin: 1vw;
}

#log_head {
    color: whitesmoke;
    font-size: 2vw;
    font-weight: 800;
    margin: 1vw;
}

#footer {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    height: auto;
    padding: 4vw;

    background-color: grey;
    justify-content: space-between;
}

.foot_items {
    /* background-color: wheat; */
    /* border: 3px solid black; */
    margin-left: 0%;
    margin-right: 0%;
    min-width: 20%;
    color: black;
    font-size: 1.1vw;
    font-weight: 200;
    margin: 0.1vw;
    /* padding-left: 2%; */
}

.foot_head #log_head {
    font-size: 1.4vw;
    font-weight: 800;
}